@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans&display=swap");

:root {
  --primaryColor: #c4efe7;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #8bd6c8;
  --darkGrey: #39ad9d;
  --mainWhite: #42858c;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.1rem;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  color: var(--mainBlack);
}

.text-main {
  color: var(--primaryColor);
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);

  border-radius: 15px;
  border: none;
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}

.cart-icon {
  cursor: pointer;
}

input[type="submit"] {
  background: var(--primaryColor);
}
input[type="submit"]:hover {
  background: var(--mainWhite);
}
